/* 
Comentario en CSS
Regla CSS consta de dos partes
1) el selector
2) Bloque de declaraciones: {
    atributo: valor;
  atributo-de-mas-dos-palabras: otro-valor;
}
*/

/* Son mala práctica porque son bloqueantes a la hora de que el navegador lea esta instrucción */
/* @import url("otro-hoja.css"); */

h1 {
    color: orangered;
    background-color: black;
}

/* Selectores Básicos
  1) Etiquetas - elementos html
  2) Identificadores - atributo id - #
  3) Clases - atributo clase - .
*/

p {
  color: midnightblue;
}

/* Dar estilos con Id se considera un antipatrón */
#parrafo-dos {
  background-color: skyblue;
}

/* Dar estilos con clases nos permite reutilizar nuestro código CSS */


.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.text-white {
  color: white;
}

.hijos-directos > li {
  background-color: thistle;
}