/* 
Comentario en CSS
Regla CSS consta de dos partes
1) el selector
2) Bloque de declaraciones: {
    atributo: valor;
  atributo-de-mas-dos-palabras: otro-valor;
}
*/

/* Son mala práctica porque son bloqueantes a la hora de que el navegador lea esta instrucción */
/* @import url("otro-hoja.css"); */

h1 {
    color: orangered;
    background-color: black;
}

/* Selectores Básicos
  1) Etiquetas - elementos html
  2) Identificadores - atributo id - #
  3) Clases - atributo clase - .
*/

p {
  color: midnightblue;
}

/* Dar estilos con Id se considera un antipatrón */
#parrafo-dos {
  background-color: skyblue;
}

/* Dar estilos con clases nos permite reutilizar nuestro código CSS */


.bg-skyblue {
  background-color: skyblue;
}

.bg-steelblue {
  background-color: steelblue;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

.text-white {
  color: white;
}

.hijos-directos > li {
  background-color: thistle;
}

.hijos-descendientes b {
  background-color: thistle;
}

/* Los selectores de hermanos van a aplicar a los elementos que son hermanos y que estén por debajo del elemento de referencia */
.hermanos-general ~ li {
  background-color: thistle;
}

.hermanos-adyacentes + li {
  background-color: thistle;
}

/* Selectores de atributos */
.selectores-atributos a[href] {
  color: orangered;
}

.selectores-atributos a[target="_blank"] {
  font-weight: bold;
}

/* El comodín del * aplica el estilo si contiene el texto en cuestión en cualquier parte */
.selectores-atributos a[href*="jonmircha"] {
  font-size: 24px;
}

/* El  comodín del ^ aplica el estilo si contiene el texto en cuestión al inicio */
.selectores-atributos a[href^="http:"] {
  text-decoration: none;
}

/* El  comodín del $ aplica el estilo si contiene el texto en cuestión al final */
.selectores-atributos a[href$=".com"] {
  background-color: black;
}

/* El comodín del ~ aplica el estilo si contiene el texto en cuestión en una lista separada por espacios */
.selectores-atributos a[class~="cursos"] {
  background-color: midnightblue;
}

/* El comodín del | aplica el estilo si contiene el texto en cuestión en una lista separada por espacios y que después del texto en cuestión venga un guión medio - */
.selectores-atributos a[class|="menu"] {
  font-style: italic;
}

/* Selector Universal */
* {
  font-family: sans-serif;
}

.selector-universal * {
  font-size: 24px;
}

/* Pseudoclases - Dan estilos dependiendo del contexto, posición o estado del elemento */

.form-pseudoclases *:required {
  border-color: yellow;
}

.form-pseudoclases *:valid {
  border-color: green;
}

.form-pseudoclases *:invalid {
  border-color: red;
}

.form-pseudoclases *:focus {
  background-color: skyblue;
}

.form-pseudoclases *:disabled {
  background-color: pink;
}

.menu-pseudoclases a:visited{
  color: olive;
}

.menu-pseudoclases a:hover{
  color: orange;
}

.p-pseudoclases:hover {
  font-size: 20px;
}

#temario-css:target {
  background-color: lightgreen;
}

.lista-pseudoclases li:first-child {
  color: green;
}

.lista-pseudoclases li:last-child {
  color: violet;
}

.lista-pseudoclases li:nth-child(3) {
  color: navy;
}

.lista-pseudoclases li:nth-child(4n) {
  font-size: 20px;
}

.lista-pseudoclases li:nth-child(3n+1) {
  font-weight: bold;
}

.lista-pseudoclases li:nth-child(even) {
  background-color: yellow;
}

.lista-pseudoclases li:nth-child(odd) {
  background-color: orange;
}